{{ partial "header" . }}

<div class="container clearfix">
    <main role="main" class="content expand">
        <article class="post">
            <a class="btn" href="{{ .Site.BaseURL }}" title="{{ .Site.Data.l10n.article.back_to_home }}">&laquo; {{ .Site.Data.l10n.article.back_to_home }}</a>
            {{ partial "article-header" . }}
            {{ .Content}}
            {{if in .Params.disable "share" }}
                <!-- share disabled -->
            {{ else }}
                {{ partial "article-share" . }}
            {{end}}

        </article>
        {{if in .Params.disable "comments" }}
            <!-- comments disabled -->
        {{ else }}
            <div class="comments">
                <h3>{{ .Site.Data.l10n.comments.comments }}</h3>
                {{ template "_internal/disqus.html" . }}
            </div>
        {{end}}
    </main>
    {{ partial "author" . }}
</div>

{{ partial "footer" . }}
