<html class="no-js">
{{ partial "head" . }}
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="site-header">
          <div class="transparent-layer">
              <h2>
                  {{ .Site.Params.header_title }}
              </h2>
          </div>

        <!--<div id="search-form-wrap">-->
          <!--<form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">-->
              <!--<input type="search" name="q" results="0" class="search-form-input" placeholder="{{with .Site.Data.l10n.search.placeholder}}{{.}}{{end}}">-->
              <!--<button type="submit" class="search-form-submit">-->
              <!--</button>-->
              <!--<input type="hidden" name="q" value="site:{{ .Site.BaseURL }}">-->
         <!--</form>-->
         <!--</div>-->

        </header>
        <div class="author" >
          <ul class="social" >
            {{ partial "social" . }}
          </ul>
        </div>
